* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #dbeafe;
    padding-top: 100px;
    padding-bottom: 70px;
}
/* Sección ubicación */
#ubicacion {
    padding: 50px 20px;
    text-align: center;
}

#ubicacion h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

#ubicacion p {
    font-size: 18px;
    color: #666;
    margin-bottom: 25px;
}

/* Contenedor del mapa y video */
.contenedor-ubicacion {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: stretch;
    padding: 20px;
}

/* Mapa y video */
.mapa,
.video {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

/* Mapa */
.mapa iframe {
    width: 100%;
    height: 400px;
    border: none;
}

/* Video */
.video video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

/* Responsive */
@media (max-width: 768px) {
    .contenedor-ubicacion {
        flex-direction: column;
    }

    .mapa iframe,
    .video video {
        height: 300px;
    }
}

/* ===========================
        HEADER FIJO
=========================== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1f2937;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.logo-container h1 {
    color: white;
    font-size: 32px;
    text-shadow:
        0 0 5px #00e5ff,
        0 0 20px #00e5ff;
}
.navbar{
    background:#1f2937 !important;
    padding:15px 40px;
}

.navbar-brand{
    color:white !important;
    font-size:32px;
    font-weight:bold;
    text-shadow:
        0 0 5px #00e5ff,
        0 0 20px #00e5ff;
}

.navbar-nav .nav-link{
    color: white !important;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    transition: all .3s ease;

    text-shadow:
        0 0 5px #00e5ff,
        0 0 20px #00e5ff;
}

.navbar-nav .nav-link:hover{
    color: #00ffff !important;

    text-shadow:
        0 0 8px #00ffff,
        0 0 15px #00ffff,
        0 0 30px #00ffff;

    transform: scale(1.08);
}
.logo{
    width:70px;
    height:70px;
    object-fit:contain;
}
/* ===========================
        SECCIONES
=========================== */
.seccion {
    padding: 40px;
    text-align: center;
}

/* ===========================
        PRODUCTOS
=========================== */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.producto {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(31, 7, 170, 0.616);
}

.producto img {
    width: 100%;
}

/* ===========================
        BOTONES
=========================== */
button,
.btn-enviar {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
.btn-enviar:hover {
    background: #084298;
}


/* ===========================
        FOOTER
=========================== */

footer {
    background:#1f2937;
    color:white;
    padding:40px 30px 100px;
    position:relative;
    width:100%;
}

.footer-contenedor {
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    max-width:1200px;
    margin:auto;
}

.footer-seccion {
    width:250px;
}

.footer-seccion h3 {
    color:#00e5ff;
    margin-bottom:15px;
    font-size:22px;
}

.footer-seccion p {
    font-size:15px;
    line-height:1.6;
    text-align:justify;
}

.footer-seccion ul {
    padding-left:20px;
    line-height:1.8;
}

.footer-final {
    border-top:1px solid #555;
    margin-top:30px;
    padding-top:15px;
    text-align:center;
}

.footer-final p {
    font-size:14px;
}

/* ===========================
        SOBRE NOSOTROS
=========================== */
.nosotros {
    max-width:1000px;
    margin:40px auto;
    padding:35px;
    background:#fff;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(31, 7, 170, 0.616);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.imagen-nosotros img {
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #00e5ff;
}

.nosotros h2 {
    color:rgb(0, 0, 0);
    font-size:36px;
    margin:25px;
}

.nosotros p {
    color:rgb(2, 2, 2);
    font-size:18px;
    line-height:1.8;
    text-align:justify;
    margin-bottom:18px;
}

/* ===========================
        MISIÓN Y VISIÓN
=========================== */
.mision-vision {
    max-width:1200px;
    margin:50px auto;
    display:flex;
    justify-content:center;
    gap:40px;
}

.tarjeta {
    flex:1;
    background:#ffffff;
    box-shadow:0 8px 20px rgba(31, 7, 170, 0.616);
    padding:35px;
    border-radius:15px;
}

.tarjeta h2 {
    color:rgb(0, 0, 0);
    text-align:center;
    font-size:34px;
    margin-bottom:20px;
}

.tarjeta p {
    color:rgb(0, 0, 0);
    font-size:18px;
    line-height:1.8;
    text-align:justify;
}

/* ===========================
        FORMULARIO CONTACTO
=========================== */
.zona-contacto {
    min-height:calc(100vh - 160px);
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor-contacto {
    width:100%;
    max-width:500px;
    padding:20px;
}

.tarjeta-formulario {
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:
    0 8px 20px rgba(31, 7, 170, 0.616);
}

.tarjeta-formulario h2 {
    text-align:center;
    margin-bottom:25px;
}

.grupo-campo {
    margin-bottom:16px;
}

.grupo-campo label {
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#495057;
}

.grupo-campo input,
.grupo-campo textarea {
    width:100%;
    padding:12px;
    border:1px solid #ced4da;
    border-radius:5px;
    font-size:16px;
}

.grupo-campo input:focus,
.grupo-campo textarea:focus {
    outline:none;
    border-color:#0d6efd;
    box-shadow:
    0 0 5px #0d6efd;
}

.btn-enviar {
    width:100%;
    font-size:16px;
}

/* ===========================
        TESTIMONIOS
=========================== */
#testimonios {
    padding:60px 40px;
}

.titulo-testimonios {
    text-align:center;
    font-size:36px;
    color:#1f2937;
    margin-bottom:15px;
}

.descripcion-testimonios {
    text-align:center;
    font-size:18px;
    margin-bottom:40px;
    color:#374151;
}

/* Contenedor de tarjetas */
.contenedor-testimonios {
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

/* Tarjetas */
.testimonio {
    width:300px;
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:
    0 8px 20px rgba(31, 7, 170, 0.616);
    transition:.3s;
}

.testimonio:hover {
    transform:translateY(-10px);
}

/* Imagen cliente */
.testimonio img {
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:4px solid #00e5ff;
}

/* Nombre */
.testimonio h3 {
    color:#1f2937;
    font-size:22px;
    margin-bottom:15px;
}

/* Opinión */
.testimonio p {
    color:#4b5563;
    font-size:16px;
    line-height:1.6;
    text-align:justify;
}

/* Estrellas */
.estrellas {
    margin-top:15px;
    font-size:25px;
    color:#facc15;
}

D/* ===========================
        SERVICIOS
=========================== */
#servicios {
    padding:60px 40px;
}

#servicios h2 {
    text-align:center;
    font-size:36px;
    color:#1f2937;
    margin-bottom:20px;
}

#servicios p {
    text-align:center;
    font-size:18px;
    margin-bottom:30px;
}

.informacion {
    background:white;
    max-width:900px;
    margin:auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(31, 7, 170, 0.616);
}

.informacion h3 {
    color:#0d6efd;
    margin-top:20px;
    margin-bottom:15px;
}

.informacion ol,
.informacion ul {
    text-align:left;
    margin-left:40px;
    font-size:18px;
    line-height:2;
}

/* TABLA */
.tabla-productos {
    width:90%;
    margin:40px auto;
    border-collapse:collapse;
    background:white;
    box-shadow:0 8px 20px rgba(31, 7, 170, 0.616);
}

.tabla-productos th {
    background:#0d3770;
    color:white;
    padding:15px;
}

.tabla-productos td {
    padding:15px;
    text-align:center;
    border:1px solid #ddd;
}

.tabla-productos tr:hover {
    background:#dbeafe;
}

/* Redes sociales del footer */
.footer-seccion a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 12px 0;
    color: #fff;
    transition: .3s;
}

.redes-sociales{
    display: flex;
    flex-direction: column; /* Coloca los iconos uno debajo del otro */
    gap: 15px;              /* Espacio entre ellos */
}

.redes-sociales i{
    font-size: 35px;
}

.fa-facebook{
    color: #1877F2;
}

.fa-instagram{
    color: #E4405F;
}

/* ==========================
   ALIADOS ESTRATÉGICOS
========================== */

.aliados{
    padding: 70px 10%;
    background: #fff;
    text-align: center;
}

.aliados h2{
    font-size: 2.2rem;
    color: #000000;
    margin-bottom: 15px;
}

.aliados p{
    color: #555;
    margin-bottom: 40px;
    font-size: 1.1rem;
}

.aliados-contenedor{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.aliado{
    width: 220px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.12);
    transition: .3s;
}

.aliado:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.aliado img{
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}

.aliado h3{
    color: #333;
    font-size: 1.2rem;
}